@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Work+Sans:wght@300;400;600&display=swap');

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    background-color: #fbe0e0;
}

.GIF-CONTAINER-YES {
    display: flex;
    align-items: center;
    justify-content: center;
}

.GIF-CONTAINER-YES img{
    border-radius: 20px;
    width:70%;
}

.MESSAGE h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: 2000;
    color: #ff7f7f;
}
